@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px">Contoso University</h1>
            <p>Help Educators, help Students, to help the world</p>
        </div>
    </div>
</div>
<div class="row">
</div>