@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Contoso University</h1>
    <p class="lead">We help Educators, help Students, help the world</p>
    <hr class="my-4">
    <p>Please let us let you gain the education you need!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="~/Students/Create" role="button">Enroll Now</a>
    </p>
</div>

<div class="row">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>